<p id="notice"><%= notice %></p>

<p class="blog title">
  <%= @artwork.title %>
</p>

<div class="blog">
  <%= image_tag url_for(@artwork.cover_image) if @artwork.cover_image.attached? %>
</div>

<div class="blog">
  <%= @artwork.description %>
</div>

<%= render @artwork.artwork_parts %>

<%= render 'artwork_parts/form' if admin_signed_in? %>

<%= link_to 'Home', root_path, class: 'blog' %>
