<% provide(:title, @artwork.title) %>

<p id="notice"><%= notice %></p>

<p class="blog title">
  <%= @artwork.title %>
</p>

<div class="blog">
  <%= image_tag url_for(@artwork.cover_image) if @artwork.cover_image.attached? %>
</div>

<div class="blog">
  <%= @artwork.description %>
</div>

<%= render @artwork.artwork_parts %>

<div class="blog"><%= render 'artwork_parts/form' if admin_signed_in? %></div>

<div class="blog navigation-buttons">
  <a href="#blank"class="fa fa-pull-left fa-chevron-left"></a>
  <a href="#blank" class="fa fa-home"></a>
  <a href="#" class="fa fa-pull-right fa-chevron-right"></a>
</div>
