<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @artwork.title %>
</p>

<p>
  <%= image_tag url_for(@artwork.cover_image) if @artwork.cover_image.attached? %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artwork.description %>
</p>

<%= render @artwork.artwork_parts %>

<h3>Add a artwork part:</h3>
<%= render 'artwork_parts/form' %>

<%= link_to 'Back', root_path %>
