<% provide(:title, "Contact") %>

<div class="contacts">
    <div>Get in touch with Livia Vourlakidou:</div>
    <div class="left">Instagram</div>
    <div class="right"><a href=<%= ENV['INSTAGRAM_LINK'] %>><%= ENV['INSTAGRAM'] %></a></div>
    <div class="left">Email</div>
    <div class="right"><a href=<%= ENV['EMAIL_LINK'] %>><%= ENV['EMAIL'] %></a></div> 
    <div class="left">Telephone</div>
    <div class="right"><%= ENV['PHONE_NUMBER'] %></div>
</div>