
<!-- 
  See: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp 
-->

<div class="topnav" id="myTopnav">
  <div class="brand">Livia Vourlakidou</div>
  <a href=mailto:<%= ENV['EMAIL_LINK'] %> aria-hidden="true"><i class="fa fa-envelope" ></i></a>
  <a href=<%= ENV['INSTAGRAM_LINK'] %> target="_blank" aria-hidden="true"><i class="fa fa-instagram"></i></a>
  <a href=<%= ENV['BEHANCE_LINK']   %> target="_blank" aria-hidden="true"><i class="fa fa-behance"  ></i></a>
  <a href=<%= ENV['VIMEO_LINK']     %> target="_blank" aria-hidden="true"><i class="fa fa-vimeo"    ></i></a>
  <% if user_signed_in? %>
    <%= link_to "Artworks", artworks_path %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
  <% end %>
  <%= link_to "Contact", contact_path %>
  <%= link_to "Work", root_path %>
  <a href="javascript:void(0);" class="icon" onclick="toggleResponsive()">
    <i class="fa fa-bars"></i>
  </a>
</div>


<script>
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function toggleResponsive() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>