<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="application-name" content="Art Gallery"/>
    <meta name="author" content="Livia Vourlakidou"/>
    <meta name="description" content="Guildford based artist"/>
    <meta name="keywords" content="art, contemporary art, oil painting, painting"/>

    <% if yield(:title).empty? %>
      <title><%= ENV['APP_TITLE'] %></title>
    <% else %>
      <title><%= yield(:title) %>|<%= ENV['APP_TITLE'] %></title>
    <% end %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Michroma">
  </head>

  <body>
    <nav role="navigation">
        <%= render 'layouts/header' %>
    </nav>

    <%= yield %>

    <footer>
        <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>

<% if Rails.env == 'development' %>
  <%= console %>
<% end %>